include *.txt
include *.rst
include config/config.prod.toml
include config/config.staging.toml
include aot/resources/templates/boards/*.html
include aot/resources/games/*.json
include doc/api/requests/*.json
include doc/api/responses/*.json
