[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autobahn = ">=18.11.1"
bleach = ">=3.0.2"
daiquiri = ">=1.5.0"
aredis = ">=1.1.3"
"ordered-set" = ">=3.0.2"
watchdog = ">=0.9.0"
environs = "< 5.0.0"
sentry-sdk = "*"
cerberus = "*"

[dev-packages]
"flake8" = ">=3.6.0"
"flake8-bandit" = ">=1.0.2"
"flake8-bugbear" = ">=18.8.0"
"flake8-builtins" = ">=1.4.1"
"flake8-debugger" = ">=3.1.0"
"flake8-deprecated" = ">=1.3"
"flake8-comprehensions" = ">=1.4.1"
"flake8-docstrings" = ">=1.3.0"
"flake8-print" = ">=3.1.0"
mccabe = ">=0.6.1"
"pep8-naming" = ">=0.7.0"
pytest = ">=3.6.0"
pytest-asyncio = ">=0.9.0"
pytest-env = ">=0.6.2"
pytest-cov = ">=2.6.0"
pytest-mock = ">=1.10.0"
pytest-testmon = ">=0.9.13"
pytest-timeout = ">=1.3.3"
pytest-watch = ">=4.2.0"
pytest-pudb = ">=0.7"
ipython = "*"
pre-commit = "*"
black = "*"
flake8-isort = "*"
factory-boy = "*"
# We currently need to install pyflakes and pycodestyle from git for Python 3.8 support.
# This will be required until 2.2.0 comes out.
pyflakes = {git = "https://github.com/PyCQA/pyflakes.git",ref = "c688d2b02ac6e3416775b88d6411ee6a3e8a51ec"}
pycodestyle = {git = "https://github.com/PyCQA/pycodestyle.git",ref = "68cc24fbe60ce31e2f9b40dc6dd484b2abf3a705"}
snapshottest = "*"
pytest-dependency = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
