[Unit]
Description=The	aot service
After=redis.service


[Service]
Type=forking
User=aot
WorkingDirectory=/home/aot/aot-api
Environment="PYTHONPATH=/home/aot/aot-api"
PIDFile=/home/aot/.forever/pids/aot.pid
ExecStart=/home/aot/.npm-packages/bin/forever start -a -c python3 --uid aot --killSignal=SIGINT aot
ExecStop=/home/aot/.npm-packages/bin/forever stop aot


[Install]
WantedBy=basic.target
