# Copy to /etc/systemd/system and launch systemctl daemon-reload

[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis.d/aot-api-%i.conf --daemonize yes
ExecStop=/usr/bin/redis-cli -s /var/run/redis/aot-api-%i.sock shutdown
PIDFile=/var/run/redis/aot-api-%i.pid
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
